@charset "UTF-8";
/* -----------------------------------------------------------------------------
* Global
* 71 : Navigation
* 121 : Acceuil
* 145: Présentation
* 200: Galerie
* 234 : Footer
* 241 : Responsive
----------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #000000;
  font-family: "Avenir", sans-serif;
}
body a {
  color: #000000;
  text-decoration: none;
}
body a:hover {
  color: #000000;
  text-decoration: none;
  text-shadow: 1px 1px 15px grey;
  transition-duration: 1s;
}
body a:link {
  color: #000000;
  text-decoration: none;
  text-shadow: 1px 1px 15px grey;
  transition-duration: 1s;
}
body a:active {
  color: #000000;
  text-decoration: none;
  text-shadow: 1px 1px 15px grey;
  transition-duration: 1s;
}
body a:visited {
  color: #000000;
  text-decoration: none;
  text-shadow: 1px 1px 15px grey;
  transition-duration: 1s;
}

nav {
  width: 145px;
  position: fixed;
  right: 10px;
  top: 20px;
  z-index: 99999;
  text-align: right;
}
nav #hamburger {
  width: 55px;
  position: relative;
  padding: 10px;
  right: -45px;
  top: 0px;
  margin-bottom: 10px;
  text-align: right;
}
nav #hamburger .hamburger-trait {
  width: 80%;
  height: 2px;
  margin-bottom: 5px;
  background-color: dimgrey;
  transform-style: 1s;
}
nav #hamburger .active {
  transition: 1s;
  width: 100%;
}
nav a {
  font-family: "Futura", sans-serif;
  color: #000000;
  text-transform: uppercase;
  transition: 1s;
}
nav .active {
  font-size: 1.3em;
}

header {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
header h1 {
  font-size: 70px;
  font-family: "Futura-MediumItalic";
}
header h2 {
  font-size: 25px;
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
}

main section article {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
}
main section article div.image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section article div.image img {
  width: 480px;
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
main section article div.image h1 {
  font-size: 50px;
  color: white;
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  position: absolute;
  text-shadow: 2px 0px 4px black;
}
main section div.texte {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section div.texte p {
  width: 500px;
  background-color: whitesmoke;
  padding: 30px;
  text-align: left;
  line-height: 23px;
  margin: 50px;
}

#galerie {
  display: grid;
  text-align: center;
}
#galerie #grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  text-align: center;
}
#galerie #grid_container .grid-item {
  padding: 20px;
}
#galerie #grid_container img {
  width: 290px;
  transition-duration: 1s;
}
#galerie #grid_container img:hover {
  transform: scale(1.3);
  transition-duration: 1s;
}
#galerie h1 {
  font-size: 50px;
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 0px 4px black;
}

footer {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  height: 120px;
  text-align: center;
}
footer p {
  margin: 10px;
}
footer img {
  margin: 10px;
}

@media only screen and (max-width: 1300px) {
  #galerie #grid_container {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1000px) {
  #galerie #grid_container {
    grid-template-columns: auto auto;
  }

  main section article {
    min-height: 100px;
    display: flex;
  }
  main section article div.texte {
    width: 100%;
    display: flex;
  }
  main section article div.texte p {
    width: 100%;
    margin: 20px;
    padding: 10px;
  }
  main section article div.image {
    height: 300px;
    width: 100%;
    margin: 10px 0px 10px 0px;
    display: flex;
  }
  main section #viepro {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 600px) {
  #acceuil h1 {
    font-size: 4em;
  }
  #acceuil h2 {
    font-size: 1.5em;
  }

  nav {
    right: 0px;
  }
  nav ul {
    margin-right: 50px;
    width: 130px;
    display: none;
  }

  main section article {
    width: 100%;
  }
  main #galerie #grid_container {
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=main.css.map */
